*{
    margin: 0;
    
}
body{
    background-color: white;
}

header{
    height: 5rem;
    background-color: rgb(59, 92, 169);
    text-align: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.headlinks{
    text-align: right;
    padding-right: 2rem;
   
}



.container{
    display: flex;
    justify-content:center;
    gap: 20px;
    align-items: center;
    border: solid,1px;
    height: 90vh;
    background-color: #9191af;
 
}
.textBox{
    background-color: lightpink;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

.huvudInfotext{
    text-align: center;
    font-size: 30px;
}

.box1{
    border: solid,3px,rgb(0, 255, 68);
    font-size: 24px;
 
}

.box2{
    border: solid,3px,rgb(0, 21, 255);
    font-size: 24px;
}
.box3{
    border: solid,3px,rgb(204, 255, 0);
    font-size: 24px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: large;
}

.profilBild{
    height: 90%;
    width: 70%;
    border: solid,5px,red;
}

footer{
    height: 5rem;
    background-color: rgb(59, 92, 169);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.infoFooter{
    text-align: center;
    font-size: 20px;
}

.headlinks{
    text-align: left;
    margin: 0;
}

.mailIcon{

    height: 20px;
    width: 20px;
    padding-left: 100px;

}

.linkIcon{

    height: 20px;
    width: 20px;

}

.gitIcon{

    height: 20px;
    width: 20px;   

}
