
*{
    margin: 0;
    
}

        /*Styling for my header and placement of the h1 text*/
header{
    height: 5rem;
    background-color:#80b3ff;
    text-align: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
 
}


      /*Makes button, background and styling*/
nav{
    text-decoration: none;
    position: relative;
    background-color:#222;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
nav button{
    background-color: transparent;
    padding: 5px;
    margin-right: 10px;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #FFF;
    padding: 0 23px;
    text-decoration:none;
 
    
}
    /*Makes the main zize and color for my "main contentbox*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid,1px,grey;
    height: 90vh;
    background-color:#99c2ff;

}
    /*Gives "main textbox ites zize and direction to the content inside*/
.textBox{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;     
    padding-top: 50px;
    
}

    /*Fixes so the image fits the box and gives it a "frame"*/
.profilBild{
 
    width: 400px;
    height: 500px;
    border: 5px solid black;
    border-radius: 10px;
    
}

    /*h2 styling and position over box1*/
.huvudInfotext{

    text-align: left;
    font-size: 34px;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
       
}

.box1{

    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
 
}
        /* Gives a font and text zize for h1*/
h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    
    
}
    /*Gives footer a height value and places links/image in the center*/
footer{

    height: 5rem;
    background-color: #80b3ff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.infoFooter{
   
    text-align: center;
    font-size: 20px;
}

        /*Gives image icons a zize value and fixes links*/
.mailIcon{

    height: 20px;
    width: 20px;
    padding-left: 100px;

}

.imgIcon{
    height: 20px;
    width: 20px;   

}

.testLink{

    text-decoration: none;
    color: black;
}
